<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Test Suite" thread-count="1" parallel="methods">


 <test name="BDDtestngTest">
 <classes>
 <class name="com.qa.crm.runner.LoginTestRunner"/>

 
 </classes>
 </test>
</suite>